
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>Hello from our View Template!</p>
<p>Hello from our View Template! 2</p>
<p>Hello from our View Template! 3</p>
<p>Hello from our View Template! 4</p>